<?php
define("DB_HOST", "localhost");
define("DB_NAME", "daena_db");
define("DB_USER", "daena_user");
define("DB_PASS", "daena_user_password");

// Alarm Email Login
define("EMAIL_ADDRESS", "yourorg.daena@gmail.com");
define("EMAIL_PASSWORD", "yourorg_gmail_password");
?>
